@model PlaygroundReservations.Models.OwnerProfile

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>OwnerProfile</legend>

        @Html.HiddenFor(model => model.OwnerProfileId)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Запиши" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("към списък", "Index", null, new { @class = "back-button" })
</div>
